Repository rjpalt/KubernetesMOOC: changes, and which pre-commit hooks are due for each by the changed paths.
All: todo-backend-ruff-check, todo-backend-ruff-format, todo-app-ruff-check, todo-app-ruff-format

todo-backend-ruff-check:
  name: Todo Backend Ruff Check
  entry: bash -c 'cd course_project/todo-backend && uv run ruff check .'
  language: system
  pass_filenames: false

todo-backend-ruff-format:
  name: Todo Backend Ruff Format
  entry: bash -c 'cd course_project/todo-backend && uv run ruff format --check .'
  language: system
  pass_filenames: false

todo-app-ruff-check:
  name: Todo App Ruff Check
  entry: bash -c 'cd course_project/todo-app && uv run ruff check .'
  language: system
  pass_filenames: false

todo-app-ruff-format:
  name: Todo App Ruff Format
  entry: bash -c 'cd course_project/todo-app && uv run ruff format --check .'
  language: system
  pass_filenames: false

Update README.md
  README.md
Due: none

4.2: Update deployment manifests for FE & BE with readiness, liveness and startup probes
  course_project/manifests/base/todo-be/deployment.yaml
  course_project/manifests/base/todo-fe/deployment.yaml
Due: none

Fix health route comment
  course_project/todo-backend/src/api/routes/health.py
Due: todo-backend-ruff-check, todo-backend-ruff-format

4.2: Fix linting
  course_project/todo-app/tests/integration/test_health_probes.py
  course_project/todo-backend/src/api/routes/health.py
  course_project/todo-backend/src/main.py
  course_project/todo-backend/tests/integration/test_health_probes.py
Due: todo-backend-ruff-check, todo-backend-ruff-format, todo-app-ruff-check, todo-app-ruff-format

4.2: Comment health routes
  course_project/todo-backend/src/api/routes/health.py
Due: todo-backend-ruff-check, todo-backend-ruff-format

4.2: Fix feature overlay to include health probes
  course_project/manifests/overlays/feature/kustomization.yaml
Due: none

4.2: Add robustness to database initialization
  HOURS.md
  course_project/todo-backend/src/main.py
Due: todo-backend-ruff-check, todo-backend-ruff-format

4.2: fix kustomize file for feature layer, return placeholder
  course_project/manifests/overlays/feature/kustomization.yaml
  course_project/todo-backend/src/api/routes/health.py
Due: todo-backend-ruff-check, todo-backend-ruff-format

4.2: Add spec kit, add health endpoints and tests
  .github/prompts/plan.prompt.md
  .github/prompts/specify.prompt.md
  .github/prompts/tasks.prompt.md
  course_project/todo-app/.coverage
  course_project/todo-app/src/api/routes/health.py
  course_project/todo-app/tests/integration/test_health_probes.py
  course_project/todo-backend/src/api/routes/health.py
  course_project/todo-backend/src/main.py
  course_project/todo-backend/tests/integration/test_health_probes.py
  memory/constitution.md
  memory/constitution_update_checklist.md
  scripts/check-task-prerequisites.sh
  scripts/common.sh
  scripts/create-new-feature.sh
  scripts/get-feature-paths.sh
  scripts/setup-plan.sh
  scripts/update-agent-context.sh
  templates/agent-file-template.md
  templates/plan-template.md
  templates/spec-template.md
  templates/tasks-template.md
Due: todo-backend-ruff-check, todo-backend-ruff-format, todo-app-ruff-check, todo-app-ruff-format

4.2: Exercise documentation
  README.md
Due: none

4.2: Update hours
  HOURS.md
Due: none

4.2: Update README.md
  README.md
Due: none

4.3: Changes to Azaure memos
  TODO.md
  docs/azure/Azure-memos.md
Due: none

4.3: Update README.md
  README.md
Due: none

Update TODO.md
  TODO.md
Due: none

4.4: Add Argo Rollout manifest
  ping-pong/manifests/ping-pong/ping-pong-rollout.yaml
Due: none

4.4: Create auth proxy sidecar for analysis template authentication in Azure
  auth-proxy-sidecar/Dockerfile
  auth-proxy-sidecar/README.md
  auth-proxy-sidecar/app.py
  auth-proxy-sidecar/build-and-push.sh
  auth-proxy-sidecar/build.sh
  auth-proxy-sidecar/dev-setup.sh
  auth-proxy-sidecar/pyproject.toml
  auth-proxy-sidecar/quality.sh
  auth-proxy-sidecar/requirements.txt
  auth-proxy-sidecar/tests/__init__.py
  auth-proxy-sidecar/tests/test_app.py
  auth-proxy-sidecar/uv.lock
Due: none

4.4: Updated manifests, azure workload secret, prometheus service account, documentation
  HOURS.md
  README.md
  TODO.md
  auth-proxy-sidecar/Dockerfile
  auth-proxy-sidecar/requirements-simple.txt
  auth-proxy-sidecar/test.txt
  memory/constitution.md
  memory/constitution_update_checklist.md
  ping-pong/README.md
  ping-pong/manifests/ping-pong/azure-workload-identity-secret.enc.yaml
  ping-pong/manifests/ping-pong/ping-pong-analysis-template-sidecar.yaml
  ping-pong/manifests/ping-pong/ping-pong-rollout.yaml
  ping-pong/manifests/ping-pong/ping-pong-service.yaml
  ping-pong/manifests/ping-pong/prometheus-auth-serviceaccount.yaml
Due: none

4.4: Remove unnecessary files
  auth-proxy-sidecar/test.txt
Due: none

4.4: Added security context to sidecar
  ping-pong/manifests/ping-pong/ping-pong-rollout.yaml
Due: none

4.4: Improve dockerfile for auth porxy sidecar, update scripts for automation
  auth-proxy-sidecar/.gitignore
  auth-proxy-sidecar/Dockerfile
  auth-proxy-sidecar/README.md
  auth-proxy-sidecar/build-and-push.sh
  auth-proxy-sidecar/build.sh
  auth-proxy-sidecar/dev-setup.sh
  auth-proxy-sidecar/requirements-simple.txt
  auth-proxy-sidecar/requirements.txt
Due: none

4.4: Final commit
  ping-pong/manifests/ping-pong/ping-pong-rollout-with-sidecar-secure.yaml
Due: none

Path conditions:
  todo-backend-ruff-check: any of: ^course_project/todo-backend/.*\.py$
  todo-backend-ruff-format: any of: ^course_project/todo-backend/.*\.py$
  todo-app-ruff-check: any of: ^course_project/todo-app/.*\.py$
  todo-app-ruff-format: any of: ^course_project/todo-app/.*\.py$
