Repository rjpalt/KubernetesMOOC: changes, and which pre-commit hooks are due for each by the changed paths.
All: todo-backend-ruff-check, todo-backend-ruff-format, todo-app-ruff-check, todo-app-ruff-format

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: todo-backend-ruff-check
        name: Todo Backend Ruff Check
        entry: bash -c 'cd course_project/todo-backend && uv run ruff check .'
        language: system
        files: ^course_project/todo-backend/.*\.py$
        pass_filenames: false
        
      - id: todo-backend-ruff-format
        name: Todo Backend Ruff Format
        entry: bash -c 'cd course_project/todo-backend && uv run ruff format --check .'
        language: system
        files: ^course_project/todo-backend/.*\.py$
        pass_filenames: false
        
      - id: todo-app-ruff-check
        name: Todo App Ruff Check
        entry: bash -c 'cd course_project/todo-app && uv run ruff check .'
        language: system
        files: ^course_project/todo-app/.*\.py$
        pass_filenames: false
        
      - id: todo-app-ruff-format
        name: Todo App Ruff Format
        entry: bash -c 'cd course_project/todo-app && uv run ruff format --check .'
        language: system
        files: ^course_project/todo-app/.*\.py$
        pass_filenames: false
        
      # You could add other project-specific hooks here later:
      # - id: ping-pong-quality
      #   name: Ping Pong Quality
      #   entry: bash -c 'cd ping-pong && ./quality.sh --check'
      #   language: system
      #   files: ^ping-pong/.*\.py$
      #   pass_filenames: false

4.9: Update manifests to use DBaaS for prod
  course_project/manifests/base/shared/kustomization.yaml
  course_project/manifests/base/shared/secret-provider-class-prod.yaml
  course_project/manifests/base/todo-be/deployment.yaml
  course_project/manifests/overlays/production/kustomization.yaml
Due: none

4.9: CHORE - trigger
  course_project/todo-backend/src/services/nats_service.py
Due: todo-backend-ruff-check, todo-backend-ruff-format

GitOps Production Deployment: main-23301e914cb3087f97965fadf968631e92aad282
  course_project/manifests/overlays/production/kustomization.yaml
Due: none

4.9: Fix kustomization for production overlay, out of bound indices
  course_project/manifests/overlays/production/kustomization.yaml
  course_project/todo-backend/src/services/nats_service.py
Due: todo-backend-ruff-check, todo-backend-ruff-format

GitOps Production Deployment: main-a8033209015e77eb7df93693587e4b2dbde23f8e
  course_project/manifests/overlays/production/kustomization.yaml
Due: none

4.9: Update manifest to use correct federated identity
  course_project/manifests/base/todo-be/deployment.yaml
Due: none

4.9: Update manifest to use correct federated identity
  course_project/manifests/overlays/production/kustomization.yaml
Due: none

4.9: CHORE - trigger
  course_project/manifests/README.md
  course_project/todo-app/src/core/cache.py
Due: todo-app-ruff-check, todo-app-ruff-format

GitOps Production Deployment: main-c1e1d4da9615c9876e30d51f02c97f230f21a860
  course_project/manifests/overlays/production/kustomization.yaml
Due: none

4.9: Correct manifest indices for env variable patches
  course_project/manifests/overlays/production/kustomization.yaml
  course_project/todo-app/src/core/lifespan.py
Due: todo-app-ruff-check, todo-app-ruff-format

GitOps Production Deployment: main-d869c7ddebf0eb26c406374d868bd873dd604800
  course_project/manifests/overlays/production/kustomization.yaml
Due: none

4.9: Create staging secret provider class and namespace
  .github/chatmodes/Implementer.chatmode.md
  .github/prompts/Memory Creation.prompt.md
  HOURS.md
  course_project/manifests/base/shared/secret-provider-class-staging.yaml
  course_project/manifests/overlays/staging/namespace.yaml
  course_project/todo-backend/src/main.py
Due: todo-backend-ruff-check, todo-backend-ruff-format

4.9: Add manifests for namespace, resource qoota and SA for staging env
  .github/chatmodes/Instructor.chatmode.md
  .github/instructions/md-inst.instructions.md
  .github/instructions/no emojis.instructions.md
  course_project/manifests/overlays/staging/namespace.yaml
  course_project/manifests/overlays/staging/resourcequota.yaml
  course_project/manifests/overlays/staging/serviceaccount.yaml
Due: none

4.9: Create staging HPA manifests for BE, FE and Broadcaster
  course_project/manifests/overlays/staging/hpa-backend.yaml
  course_project/manifests/overlays/staging/hpa-broadcaster.yaml
  course_project/manifests/overlays/staging/hpa-frontend.yaml
Due: none

4.9: Update http route patches to use AGC feature gateway
  course_project/manifests/overlays/staging/kustomization.yaml
  course_project/manifests/overlays/staging/nats-staging-patch.yaml
Due: none

4.9: Clean .project
  .project/context.template.yaml
Due: none

4.9 Change overlay manifests
  course_project/manifests/overlays/staging/kustomization.yaml
  course_project/manifests/overlays/staging/namespace.yaml
  course_project/manifests/overlays/staging/serviceaccount.yaml
Due: none

4.9: Fix linting
  course_project/todo-backend/src/main.py
Due: todo-backend-ruff-check, todo-backend-ruff-format

4.9: CHORE trigger
  course_project/todo-backend/src/config/settings.py
Due: todo-backend-ruff-check, todo-backend-ruff-format

4.9: Add ArgoCD App for staging, update documentation
  cluster-manifests/README.md
  cluster-manifests/argocd-application-staging.yaml
  course_project/manifests/README.md
Due: none

4.9: Restructure overlay namespacing; move project namespace manifest from shared to production
  course_project/manifests/README.md
  course_project/manifests/base/shared/archive/namespace.yaml.old
  course_project/manifests/base/shared/kustomization.yaml
  course_project/manifests/overlays/production/kustomization.yaml
  course_project/manifests/overlays/production/namespace.yaml
  course_project/manifests/overlays/staging/kustomization.yaml
  course_project/manifests/overlays/staging/namespace.yaml
Due: none

4.9: Add staging workflow
  .github/workflows/README.md
  .github/workflows/deploy-staging.yml
  cluster-manifests/staging-app.yaml
  docs/deployment/WP_2.1_SETUP_GUIDE.md
Due: none

GitOps Production Deployment: main-5a5f29fc3f870f3c764e2afd3738e5e59230cb8a
  course_project/manifests/overlays/production/kustomization.yaml
Due: none

4.9: Update hours
  HOURS.md
Due: none

4.9: Add testing standards, update QA Lead, update hours
  .github/chatmodes/QA Lead.chatmode.md
  HOURS.md
  docs/testing/staging-test-standards.md
Due: none

CHORE: Trigger
  .github/chatmodes/Implementer.chatmode.md
  .github/chatmodes/Lead Developer.chatmode.md
  .github/instructions/test.instructions.md
  .github/prompts/Memory Creation.prompt.md
  course_project/todo-backend/src/api/dependencies.py
  package-lock.json
Due: todo-backend-ruff-check, todo-backend-ruff-format

GitOps Production Deployment: main-494e6e912019b1d0dc61db0ac3991880ceab997f
  course_project/manifests/overlays/production/kustomization.yaml
Due: none

GitOps Staging Deployment: main-494e6e912019b1d0dc61db0ac3991880ceab997f
  course_project/manifests/overlays/staging/kustomization.yaml
Due: none

4.9: Fix staging backend: add secret provider class for staging
  HOURS.md
  TODO.md
  course_project/manifests/base/shared/kustomization.yaml
  course_project/manifests/overlays/staging/kustomization.yaml
Due: none

4.9: CHORE: Trigger
  course_project/todo-backend/src/api/dependencies.py
Due: todo-backend-ruff-check, todo-backend-ruff-format

GitOps Staging Deployment: main-6eaf028b2c55759c6d93fca3ef4e365d7e9411a7
  course_project/manifests/overlays/staging/kustomization.yaml
Due: none

4.9: CHORE: Trigger - Fix database name variable
  course_project/manifests/overlays/staging/kustomization.yaml
  course_project/todo-backend/src/api/dependencies.py
Due: todo-backend-ruff-check, todo-backend-ruff-format

GitOps Staging Deployment: main-1f513074a79a3d01849af94f3c91badb24397fdc
  course_project/manifests/overlays/staging/kustomization.yaml
Due: none

4.9: Add taging test workflow
  .github/chatmodes/Lead Developer.chatmode.md
  .github/workflows/staging-tests.yml
Due: none

4.9: Create staging integration tests
  course_project/tests/staging/README.md
  course_project/tests/staging/conftest.py
  course_project/tests/staging/requirements.txt
  course_project/tests/staging/test_backend_health.py
  course_project/tests/staging/test_database_integration.py
  course_project/tests/staging/test_service_discovery.py
  docs/testing/staging-test-standards.md
Due: none

4.9: CHORE: TRIGGER
  course_project/todo-backend/src/api/dependencies.py
Due: todo-backend-ruff-check, todo-backend-ruff-format

GitOps Production Deployment: main-c945b89bbfd82a5ca2e1629e3fa2c8327703b855
  course_project/manifests/overlays/production/kustomization.yaml
Due: none

4.9: Disable production deployment pipeline to prevent race condition
  .github/workflows/deploy-production.yml
  course_project/todo-backend/src/api/dependencies.py
Due: todo-backend-ruff-check, todo-backend-ruff-format

GitOps Staging Deployment: main-48b39d001e19e39a18d7bf4cc9ffcceabd8cf090
  course_project/manifests/overlays/staging/kustomization.yaml
Due: none

4.9: Fix staging tests
  course_project/tests/staging/conftest.py
  course_project/tests/staging/pytest.ini
  course_project/todo-backend/src/api/dependencies.py
Due: todo-backend-ruff-check, todo-backend-ruff-format
