Repository rjpalt/KubernetesMOOC: changes, and which pre-commit hooks are due for each by the changed paths.
All: todo-backend-ruff-check, todo-backend-ruff-format, todo-app-ruff-check, todo-app-ruff-format

todo-backend-ruff-check:
  name: Todo Backend Ruff Check
  entry: bash -c 'cd course_project/todo-backend && uv run ruff check .'
  language: system
  pass_filenames: false

todo-backend-ruff-format:
  name: Todo Backend Ruff Format
  entry: bash -c 'cd course_project/todo-backend && uv run ruff format --check .'
  language: system
  pass_filenames: false

todo-app-ruff-check:
  name: Todo App Ruff Check
  entry: bash -c 'cd course_project/todo-app && uv run ruff check .'
  language: system
  pass_filenames: false

todo-app-ruff-format:
  name: Todo App Ruff Format
  entry: bash -c 'cd course_project/todo-app && uv run ruff format --check .'
  language: system
  pass_filenames: false

c3-e9: Update operations.py description
  course_project/todo-backend/src/database/operations.py
Due: todo-backend-ruff-check, todo-backend-ruff-format

Fix base path to accommodate the DNS approach
  README.md
  course_project/manifests/base/todo-fe/deployment.yaml
Due: none

3.9: Update connection information for CI
  course_project/todo-backend/src/database/connection.py
Due: todo-backend-ruff-check, todo-backend-ruff-format

3.9: Lint
  course_project/todo-backend/src/database/connection.py
Due: todo-backend-ruff-check, todo-backend-ruff-format

Fix API path problem
  course_project/manifests/overlays/feature-azure/feature-azure-config/kustomization.yaml
  course_project/manifests/overlays/feature-azure/feature-azure-config/secret-provider-class-feature.yaml
  course_project/manifests/overlays/feature-azure/kustomization.yaml
  course_project/manifests/overlays/feature/kustomization.yaml
Due: none

Trifle change
  course_project/todo-backend/src/api/dependencies.py
Due: todo-backend-ruff-check, todo-backend-ruff-format

Fix frontend API_BASE_PATH for hostname-based AGC routing
  .github/workflows/deploy-feature-branches.yml
Due: none

Trifle
  course_project/todo-app/src/main.py
Due: todo-app-ruff-check, todo-app-ruff-format

3.9: Fix broken routing for frontend endpoint for form sanitization to backend
  course_project/manifests/overlays/feature/kustomization.yaml
  course_project/todo-backend/src/services/todo_service.py
Due: todo-backend-ruff-check, todo-backend-ruff-format

3.9: Improve documentaiton, add integration tests to ensure no tampering with front-end backend contract using form data directly, add PyYAML
  course_project/tests/routing/test_httproute_configuration.py
  course_project/todo-app/README.md
  course_project/todo-app/pyproject.toml
  course_project/todo-app/tests/integration/test_routing_architecture.py
  course_project/todo-app/uv.lock
  course_project/todo-backend/README.md
  course_project/todo-backend/pyproject.toml
  course_project/todo-backend/tests/integration/test_backend_routing_contract.py
  course_project/todo-backend/uv.lock
Due: todo-backend-ruff-check, todo-backend-ruff-format, todo-app-ruff-check, todo-app-ruff-format

3.9: update deployment workflow, hours
  .github/workflows/deploy-feature-branches.yml
  HOURS.md
  README.md
Due: none

3.11: Introduce Azure Function to Deployment pipeline
  .github/workflows/deploy-feature-branches.yml
  docs/azure/Azure-memos.md
Due: none

Update feature branch deployment workflow from ex-c3-e11
  .github/workflows/deploy-feature-branches.yml
Due: none

3.11: Trifle change for CI
  course_project/todo-backend/src/models/todo.py
Due: todo-backend-ruff-check, todo-backend-ruff-format

3.11: Fix API schema, api/todos/ for backend
  course_project/manifests/base/shared/httproute.yaml
  course_project/manifests/overlays/feature/kustomization.yaml
  course_project/todo-app/src/services/todo_backend_client.py
Due: todo-app-ruff-check, todo-app-ruff-format

3.11: Final test
  HOURS.md
  course_project/todo-app/src/services/image_service.py
  course_project/todo-app/tests/unit/test_todo_backend_client.py
Due: todo-app-ruff-check, todo-app-ruff-format

Add cluster protection RBAC
  cluster-manifests/cluster-protection-rbac.yaml
  course_project/manifests/README.md
Due: none

Fix deprovisioning function
  .github/workflows/deprovision-feature-environment.yml
  HOURS.md
  IMPLEMENTATION_TODO.md
Due: none

Trigger pipeline
  course_project/todo-backend/src/database/connection.py
Due: todo-backend-ruff-check, todo-backend-ruff-format

Add tmp/ to .gitignore
  .gitignore
Due: none

Trigger pipelines
  course_project/todo-backend/src/database/connection.py
Due: todo-backend-ruff-check, todo-backend-ruff-format

Fix workflwo for deprocisioning
  .github/workflows/deprovision-feature-environment.yml
Due: none

Remove old workflow
  .github/workflows/cleanup-feature-environment.yml
Due: none

Fix
  .github/workflows/deprovision-feature-environment.yml
  IMPLEMENTATION_TODO.md
Due: none

Add chatmodes and prompts to project
  .github/chatmodes/Cloud Inspector.chatmode.md
  .github/chatmodes/Implementer.chatmode.md
  .github/chatmodes/Lead Developer.chatmode.md
  .github/chatmodes/The Architect.chatmode.md
  .github/prompts/Architect Task Handover.prompt.md
  .github/prompts/Implementer Report.prompt.md
  .github/prompts/Inspection Plan.prompt.md
  .github/prompts/Lead to Implementer.prompt.md
Due: none

Path conditions:
  todo-backend-ruff-check: any of: ^course_project/todo-backend/.*\.py$
  todo-backend-ruff-format: any of: ^course_project/todo-backend/.*\.py$
  todo-app-ruff-check: any of: ^course_project/todo-app/.*\.py$
  todo-app-ruff-format: any of: ^course_project/todo-app/.*\.py$
