Repository rjpalt/KubernetesMOOC: changes, and which pre-commit hooks are due for each by the changed paths.
All: todo-backend-ruff-check, todo-backend-ruff-format, todo-app-ruff-check, todo-app-ruff-format

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: todo-backend-ruff-check
        name: Todo Backend Ruff Check
        entry: bash -c 'cd course_project/todo-backend && uv run ruff check .'
        language: system
        files: ^course_project/todo-backend/.*\.py$
        pass_filenames: false
        
      - id: todo-backend-ruff-format
        name: Todo Backend Ruff Format
        entry: bash -c 'cd course_project/todo-backend && uv run ruff format --check .'
        language: system
        files: ^course_project/todo-backend/.*\.py$
        pass_filenames: false
        
      - id: todo-app-ruff-check
        name: Todo App Ruff Check
        entry: bash -c 'cd course_project/todo-app && uv run ruff check .'
        language: system
        files: ^course_project/todo-app/.*\.py$
        pass_filenames: false
        
      - id: todo-app-ruff-format
        name: Todo App Ruff Format
        entry: bash -c 'cd course_project/todo-app && uv run ruff format --check .'
        language: system
        files: ^course_project/todo-app/.*\.py$
        pass_filenames: false
        
      # You could add other project-specific hooks here later:
      # - id: ping-pong-quality
      #   name: Ping Pong Quality
      #   entry: bash -c 'cd ping-pong && ./quality.sh --check'
      #   language: system
      #   files: ^ping-pong/.*\.py$
      #   pass_filenames: false

3.1: Add links to commands and memos for the exercise submission
  README.md
Due: none

3.1: Linting for course project
  course_project/todo-backend/tests/integration/test_sql_injection_prevention.py
Due: todo-backend-ruff-check, todo-backend-ruff-format

3.2: Implement XSS preventation and tests in course project
  HOURS.md
  course_project/README.md
  course_project/todo-app/.coverage
  course_project/todo-app/src/main.py
  course_project/todo-app/src/middleware/security.py
  course_project/todo-app/tests/conftest.py
  course_project/todo-app/tests/container/test_container_basic.py
  course_project/todo-app/tests/integration/test_xss_security.py
  course_project/todo-backend/src/main.py
  course_project/todo-backend/src/middleware/security.py
  course_project/todo-backend/tests/TEST_PLAN.md
  course_project/todo-backend/tests/integration/test_xss_prevention.py
Due: todo-backend-ruff-check, todo-backend-ruff-format, todo-app-ruff-check, todo-app-ruff-format

3.2: Add ingress controller, update manifests, verify and document
  HOURS.md
  README.md
  docs/azure/Azure-memos.md
  docs/exercises/3.1-commands.md
  docs/exercises/3.2-commands.md
  ping-pong/manifests/log-output/log-output-service.yaml
  ping-pong/manifests/ping-pong/ping-pong-service.yaml
  ping-pong/manifests/shared/ingress.yaml
Due: none

Add exercise links
  README.md
Due: none

Enhance submission for 3.2.
  README.md
Due: none

Doc update
  HOURS.md
  MEMOS.md
  docs/azure/Azure-memos.md
Due: none

3.3: Azure resource creation plus documentation, Gateway resource manifest
  HOURS.md
  MEMOS.md
  docs/azure/Azure-memos.md
  docs/exercises/3.3-commands.md
  manifests/k8s-nsa2-gateway.yaml
  nsa2-alb.yaml
  ping-pong/manifests/shared/k8s-nsa2-gateway.yaml
Due: none

3.3: Cluster infra manifests for Gateway API, changed manifests files for HTTPRoute
  HOURS.md
  README.md
  cluster-manifests/k8s-nsa2-gateway.yaml
  cluster-manifests/nsa2-alb.yaml
  docs/azure/Azure-memos.md
  docs/exercises/3.3-commands.md
  ping-pong/manifests/log-output/log-output-service.yaml
  ping-pong/manifests/ping-pong/ping-pong-health-check-policy.yaml
  ping-pong/manifests/ping-pong/ping-pong-route.yaml
  ping-pong/manifests/ping-pong/ping-pong-service.yaml
  ping-pong/manifests/shared/k8s-nsa2-gateway.yaml
Due: none

3.4: Change app routes in main.py, build new images, create automation script
  build-apps.sh
  build-pp-and-lo.sh
  log_output/archive/Dockerfile.generator
  log_output/archive/Dockerfile.logserver
  log_output/build.sh
  log_output/test-compose.sh
  ping-pong/build.sh
  ping-pong/main.py
Due: none

3.4: Fix build script
  TODO.md
  build-apps.sh
  build-pp-and-lo.sh
Due: none

3.4: Route rewriting for ping-pong app, improve images for linux/amd64 architecture, update build script
  HOURS.md
  README.md
  TODO.md
  build-pp-and-lo.sh
  docs/azure/Azure-memos.md
  docs/exercises/3.4-commands.md
  ping-pong/manifests/log-output/log-output-deployment.yaml
  ping-pong/manifests/ping-pong/ping-pong-deployment.yaml
  ping-pong/manifests/ping-pong/ping-pong-route.yaml
Due: none

3.5: Restructre manifests for kustomization, port database to Cloud setup, set secret provider class and account to use Azure Key Vault
  HOURS.md
  build-apps.sh
  course_project/README.md
  course_project/manifests/README.md
  course_project/manifests/base/postgres/archive/secrets.enc.yaml
  course_project/manifests/base/postgres/kustomization.yaml
  course_project/manifests/base/postgres/secret-provider-class.yaml
  course_project/manifests/base/postgres/service.yaml
  course_project/manifests/base/postgres/serviceaccount.yaml
  course_project/manifests/base/postgres/statefulset.yaml
  course_project/manifests/base/shared/ingress.yaml
  course_project/manifests/base/shared/namespace.yaml
  course_project/manifests/base/todo-be/deployment.yaml
  course_project/manifests/base/todo-be/service.yaml
  course_project/manifests/base/todo-cron/cronjob.yaml
  course_project/manifests/base/todo-fe/deployment.yaml
  course_project/manifests/base/todo-fe/persistentvolume.yaml
  course_project/manifests/base/todo-fe/persistentvolumeclaim.yaml
  course_project/manifests/base/todo-fe/service.yaml
  docs/azure/Azure-memos.md
  docs/exercises/3.5-commands.md
Due: none

Update documentation
  HOURS.md
  course_project/README.md
Due: none

Update todos.md
  TODO.md
Due: none

3.5: Manifests for AKS deployment, kustomization files, refaactor app to match HTTPRoute settings
  HOURS.md
  MEMOS.md
  TODO.md
  course_project/build-images.sh
  course_project/docker-compose.yaml
  course_project/manifests/base/shared/archive/ingress.yaml
  course_project/manifests/base/shared/health-check-be.yaml
  course_project/manifests/base/shared/health-check-fe.yaml
  course_project/manifests/base/shared/httproute.yaml
  course_project/manifests/base/shared/kustomization.yaml
  course_project/manifests/base/shared/secret-provider-class.yaml
  course_project/manifests/base/shared/serviceaccount.yaml
  course_project/manifests/base/todo-be/deployment.yaml
  course_project/manifests/base/todo-be/kustomization.yaml
  course_project/manifests/base/todo-cron/cronjob.yaml
  course_project/manifests/base/todo-cron/kustomization.yaml
  course_project/manifests/base/todo-fe/archive/persistentvolume.yaml
  course_project/manifests/base/todo-fe/deployment.yaml
  course_project/manifests/base/todo-fe/kustomization.yaml
  course_project/manifests/base/todo-fe/persistentvolumeclaim.yaml
  course_project/todo-app/.coverage
  course_project/todo-app/src/api/routes/images.py
  course_project/todo-app/src/api/routes/todos.py
  course_project/todo-app/src/config/settings.py
  course_project/todo-app/templates/components/todo_form.html
  course_project/todo-app/templates/components/todo_item.html
  course_project/todo-app/templates/index.html
  course_project/todo-app/tests/integration/test_base_path.py
  docs/azure/Azure-memos.md
  docs/exercises/3.5-commands.md
Due: todo-app-ruff-check, todo-app-ruff-format

3.5: Fix HTTP routes to match application architecture, fox cronjob to use correct image, update Dockerfiles and image building automation
  course_project/README.md
  course_project/build-images.sh
  course_project/docker-compose.yaml
  course_project/manifests/base/shared/httproute.yaml
  course_project/manifests/base/todo-be/deployment.yaml
  course_project/manifests/base/todo-cron/cronjob.yaml
  course_project/manifests/base/todo-fe/deployment.yaml
  course_project/todo-app/Dockerfile
Due: none

3.5: Update documents
  HOURS.md
  README.md
  course_project/README.md
  docs/exercises/3.5-commands.md
Due: none

3.5: Fix hardcoded paths from tests
  course_project/todo-app/tests/integration/test_base_path.py
Due: todo-app-ruff-check, todo-app-ruff-format

3.5: Add base level kustomization for full stack deployment
  course_project/manifests/README.md
  course_project/manifests/base/kustomization.yaml
Due: none
