Repository rjpalt/KubernetesMOOC: changes, and which pre-commit hooks are due for each by the changed paths.
All: todo-backend-ruff-check, todo-backend-ruff-format, todo-app-ruff-check, todo-app-ruff-format

todo-backend-ruff-check:
  name: Todo Backend Ruff Check
  entry: bash -c 'cd course_project/todo-backend && uv run ruff check .'
  language: system
  pass_filenames: false

todo-backend-ruff-format:
  name: Todo Backend Ruff Format
  entry: bash -c 'cd course_project/todo-backend && uv run ruff format --check .'
  language: system
  pass_filenames: false

todo-app-ruff-check:
  name: Todo App Ruff Check
  entry: bash -c 'cd course_project/todo-app && uv run ruff check .'
  language: system
  pass_filenames: false

todo-app-ruff-format:
  name: Todo App Ruff Format
  entry: bash -c 'cd course_project/todo-app && uv run ruff format --check .'
  language: system
  pass_filenames: false

Add Scribe mode
  .github/chatmodes/Scribe.chatmode.md
Due: none

4.5: Refactor E2E tests
  .github/chatmodes/QA Lead.chatmode.md
  .gitignore
  course_project/docker-compose.yaml
  course_project/tests/e2e/package-lock.json
  course_project/tests/e2e/package.json
  course_project/tests/e2e/playwright-cleanup.config.ts
  course_project/tests/e2e/playwright.config.ts
  course_project/tests/e2e/test-results/.last-run.json
  course_project/tests/e2e/tests/cleanup-helpers-validation.spec.ts
  course_project/tests/e2e/tests/enhanced-cleanup-validation.spec.ts
  course_project/tests/e2e/tests/todo-crud.spec.ts
  course_project/tests/e2e/utils/cleanup-helpers.ts
  course_project/tests/e2e/utils/database-reset.ts
  course_project/tests/e2e/utils/global-setup.ts
  course_project/tests/e2e/utils/global-teardown.ts
  course_project/tests/e2e/utils/summary-reporter.ts
  scripts/build-images.sh
  test-results/.last-run.json
Due: none

4.5: Small changes
  course_project/tests/e2e/node_modules/.package-lock.json
  course_project/todo-backend/src/api/dependencies.py
Due: todo-backend-ruff-check, todo-backend-ruff-format

4.5: Change palywright configs
  course_project/tests/e2e/playwright.config.ts
  course_project/tests/e2e/tests/todo-done-feature.spec.ts
  course_project/todo-backend/src/api/error_handlers.py
Due: todo-backend-ruff-check, todo-backend-ruff-format

4.5: Update tests
  course_project/TESTING_OVERVIEW.md
  course_project/todo-backend/tests/TEST_PLAN.md
Due: none

4.5: Update README.md
  README.md
Due: none

Update hours
  HOURS.md
  TODO.md
Due: none

4.6: Update hours
  HOURS.md
Due: none

4.6: Create nats base manifests with helm template, apply overlays
  .github/chatmodes/Lead Developer.chatmode.md
  course_project/manifests/base/nats/configmap.yaml
  course_project/manifests/base/nats/kustomization.yaml
  course_project/manifests/base/nats/service.yaml
  course_project/manifests/base/nats/statefulset.yaml
  course_project/manifests/overlays/feature/kustomization.yaml
  course_project/manifests/overlays/feature/nats-feature-patch.yaml
  course_project/manifests/overlays/production/nats-prod-patch.yaml
Due: none

4.6: Trigger CI/CD, update kustomization syntax for feature overlay
  course_project/manifests/overlays/feature/kustomization.yaml
  course_project/todo-app/src/api/dependencies.py
Due: todo-app-ruff-check, todo-app-ruff-format

4.6: Update services to use default NATS port
  course_project/manifests/base/nats/service.yaml
  course_project/manifests/base/nats/statefulset.yaml
  course_project/todo-app/src/core/cache.py
Due: todo-app-ruff-check, todo-app-ruff-format

4.6: Update nats manifests based on redo with helm template
  HOURS.md
  course_project/manifests/base/kustomization.yaml
  course_project/manifests/base/nats/application.yaml
  course_project/manifests/base/nats/configmap.yaml
  course_project/manifests/base/nats/headless-svc.yaml
  course_project/manifests/base/nats/kustomization.yaml
  course_project/manifests/base/nats/metrics-svc.yaml
  course_project/manifests/base/nats/networkpolicy.yaml
  course_project/manifests/base/nats/poddisruptionbudget.yaml
  course_project/manifests/base/nats/serviceaccount.yaml
  course_project/manifests/base/nats/statefulset.yaml
  course_project/manifests/overlays/feature/nats-feature-patch.yaml
  course_project/todo-app/src/core/lifespan.py
Due: todo-app-ruff-check, todo-app-ruff-format

4.6: Update nats service yaml, remove nodeport null
  TODO.md
  course_project/manifests/README.md
  course_project/manifests/base/nats/service.yaml
Due: none

4.6: Update, add and refactor broadcaster test cases
  course_project/broadcaster/.coverage
  course_project/broadcaster/pyproject.toml
  course_project/broadcaster/pytest.ini
  course_project/broadcaster/src/api/routes/metrics.py
  course_project/broadcaster/src/main.py
  course_project/broadcaster/src/metrics/prometheus.py
  course_project/broadcaster/src/services/broadcaster_service.py
  course_project/broadcaster/src/services/webhook_client.py
  course_project/broadcaster/tests/conftest.py
  course_project/broadcaster/tests/integration/test_container_runtime.py
  course_project/broadcaster/tests/integration/test_environment_adaptation.py
  course_project/broadcaster/tests/quality/test_code_quality.py
  course_project/broadcaster/tests/unit/test_error_handling.py
  course_project/broadcaster/tests/unit/test_metrics.py
  course_project/broadcaster/tests/unit/test_settings.py
  course_project/broadcaster/uv.lock
Due: none

4.6: Broadcaster documentation
  course_project/broadcaster/README.md
  course_project/broadcaster/tests/TEST_PLAN.md
Due: none

4.6: Update kustomization overlay patches for production NATS
  HOURS.md
  course_project/manifests/overlays/production/kustomization.yaml
  course_project/manifests/overlays/production/nats-prod-patch.yaml
  templates/agent-file-template.md
  templates/plan-template.md
  templates/spec-template.md
  templates/tasks-template.md
Due: none

4.6: NATS Infra
  .github/chatmodes/Lead Developer.chatmode.md
  .github/instructions/test.instructions.md
  HOURS.md
  course_project/manifests/base/nats/kustomization.yaml
  course_project/manifests/base/nats/servicemonitor.yaml
  course_project/todo-backend/.env.example
  course_project/todo-backend/KubernetesMOOC/.github/prompts/plan.prompt.md
  course_project/todo-backend/KubernetesMOOC/.github/prompts/specify.prompt.md
  course_project/todo-backend/KubernetesMOOC/.github/prompts/tasks.prompt.md
  course_project/todo-backend/KubernetesMOOC/.specify/memory/constitution.md
  course_project/todo-backend/KubernetesMOOC/.specify/memory/constitution_update_checklist.md
  course_project/todo-backend/KubernetesMOOC/.specify/scripts/bash/check-task-prerequisites.sh
  course_project/todo-backend/KubernetesMOOC/.specify/scripts/bash/common.sh
  course_project/todo-backend/KubernetesMOOC/.specify/scripts/bash/create-new-feature.sh
  course_project/todo-backend/KubernetesMOOC/.specify/scripts/bash/get-feature-paths.sh
  course_project/todo-backend/KubernetesMOOC/.specify/scripts/bash/setup-plan.sh
  course_project/todo-backend/KubernetesMOOC/.specify/scripts/bash/update-agent-context.sh
  course_project/todo-backend/KubernetesMOOC/.specify/templates/agent-file-template.md
  course_project/todo-backend/KubernetesMOOC/.specify/templates/plan-template.md
  course_project/todo-backend/KubernetesMOOC/.specify/templates/spec-template.md
  course_project/todo-backend/KubernetesMOOC/.specify/templates/tasks-template.md
  course_project/todo-backend/pyproject.toml
  course_project/todo-backend/src/api/dependencies.py
  course_project/todo-backend/src/config/settings.py
  course_project/todo-backend/src/main.py
  course_project/todo-backend/src/services/nats_service.py
  course_project/todo-backend/src/services/todo_service.py
  course_project/todo-backend/uv.lock
  scripts/create-new-feature.sh
  scripts/setup-plan.sh
  templates/implementation-plan-template.md
  templates/spec-template.md
Due: todo-backend-ruff-check, todo-backend-ruff-format

4.6: Fix linting
  course_project/todo-backend/src/api/dependencies.py
  course_project/todo-backend/src/config/settings.py
  course_project/todo-backend/src/main.py
  course_project/todo-backend/src/services/nats_service.py
  course_project/todo-backend/src/services/todo_service.py
Due: todo-backend-ruff-check, todo-backend-ruff-format

Remove ServiceMonitor - CRD not available in AKS cluster
  course_project/manifests/base/nats/kustomization.yaml
Due: none

4.6: Nats overlays
  HOURS.md
  course_project/manifests/base/nats/networkpolicy.yaml
  course_project/manifests/overlays/feature/kustomization.yaml
  course_project/manifests/overlays/production/kustomization.yaml
  course_project/todo-backend/src/models/todo.py
Due: todo-backend-ruff-check, todo-backend-ruff-format

4.6: Add Azure overlays for ama configs, update service quota
  .github/workflows/README.md
  .github/workflows/deploy-production.yml
  course_project/manifests/README.md
  course_project/manifests/overlays/azure-feature/ama-metrics-prometheus-config.yaml
  course_project/manifests/overlays/azure-feature/ama-metrics-settings.yaml
  course_project/manifests/overlays/azure-feature/kustomization.yaml
  course_project/manifests/overlays/azure-production/ama-metrics-prometheus-config.yaml
  course_project/manifests/overlays/azure-production/ama-metrics-settings.yaml
  course_project/manifests/overlays/azure-production/kustomization.yaml
  course_project/manifests/overlays/feature/resourcequota.yaml
Due: none

4.6: Trigger
  course_project/todo-backend/src/models/todo.py
Due: todo-backend-ruff-check, todo-backend-ruff-format

ci: integrate broadcaster service into CI pipeline
  .github/workflows/ci-production.yml
  .github/workflows/ci.yml
Due: none

4.6: NATS Integration tests
  HOURS.md
  course_project/todo-backend/src/services/todo_service.py
  course_project/todo-backend/tests/integration/test_nats_integration.py
Due: todo-backend-ruff-check, todo-backend-ruff-format

4.6: Fix linting
  course_project/todo-backend/src/services/todo_service.py
  course_project/todo-backend/tests/integration/test_nats_integration.py
Due: todo-backend-ruff-check, todo-backend-ruff-format

4.6: Update NATS lifecycle handling for todos
  .github/instructions/no-cat.instructions.md
  HOURS.md
  course_project/todo-backend/src/api/dependencies.py
  course_project/todo-backend/src/main.py
  course_project/todo-backend/src/services/todo_service.py
Due: todo-backend-ruff-check, todo-backend-ruff-format

4.6: Fix NATS race condition
  course_project/docker-compose.yaml
  course_project/todo-backend/src/api/dependencies.py
  course_project/todo-backend/src/api/routes/todos.py
  course_project/todo-backend/src/main.py
  course_project/todo-backend/src/services/todo_service.py
  scripts/build-images.sh
  scripts/quality.sh
Due: todo-backend-ruff-check, todo-backend-ruff-format

4.6: Fix NATS integration tests
  course_project/README.md
  course_project/todo-backend/README.md
  course_project/todo-backend/tests/conftest.py
  course_project/todo-backend/tests/integration/test_nats_integration.py
Due: todo-backend-ruff-check, todo-backend-ruff-format

4.6: Lint conftest.py
  course_project/todo-backend/tests/conftest.py
Due: todo-backend-ruff-check, todo-backend-ruff-format

4.6: Fix custom metrics port
  course_project/manifests/base/broadcaster/metrics-service.yaml
  course_project/todo-backend/src/api/dependencies.py
Due: todo-backend-ruff-check, todo-backend-ruff-format

4.6: Return placeholder values for feature deployments
  HOURS.md
  course_project/manifests/overlays/azure-feature/ama-metrics-prometheus-config.yaml
  course_project/todo-backend/src/database/connection.py
  scripts/check-task-prerequisites.sh
  scripts/create-new-feature.sh
  scripts/get-feature-paths.sh
  templates/implementation-plan-template.md
  templates/spec-template.md
Due: todo-backend-ruff-check, todo-backend-ruff-format

4.6: Fix linting
  course_project/todo-backend/src/database/connection.py
Due: todo-backend-ruff-check, todo-backend-ruff-format

4.6: Update production deployment
  .github/workflows/deploy-production.yml
  course_project/manifests/overlays/azure-production/ama-metrics-prometheus-config.yaml
Due: none

4.6: Add hours
  HOURS.md
Due: none

4.6: Production deployment pipeline fix from app to statefulset
  .github/chatmodes/Cloud Inspector.chatmode.md
  .github/workflows/deploy-production.yml
  course_project/todo-backend/src/database/operations.py
Due: todo-backend-ruff-check, todo-backend-ruff-format

4.6: Fix prod NATS deployment
  course_project/manifests/overlays/production/kustomization.yaml
  course_project/todo-backend/src/middleware/request_logging.py
Due: todo-backend-ruff-check, todo-backend-ruff-format

Path conditions:
  todo-backend-ruff-check: any of: ^course_project/todo-backend/.*\.py$
  todo-backend-ruff-format: any of: ^course_project/todo-backend/.*\.py$
  todo-app-ruff-check: any of: ^course_project/todo-app/.*\.py$
  todo-app-ruff-format: any of: ^course_project/todo-app/.*\.py$
